<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="username" type="text" label="30000" default="" />
    <setting id="password" type="text" enable="!eq(-1,)" label="30010" default="" />
    <setting type="sep" />
    <setting id="language_code" type="labelenum" values="-|aa|ab|ae|af|ak|am|an|ar|as|av|ay|az|ba|be|bg|bh|bi|bm|bn|bo|br|bs|ca|ce|ch|co|cr|cs|cu|cv|cy|da|de|dv|dz|ee|el|en|eo|es|et|eu|fa|ff|fi|fj|fo|fr|fy|ga|gd|gl|gn|gu|gv|ha|he|hi|ho|hr|ht|hu|hy|hz|ia|id|ie|ig|ii|ik|io|is|it|iu|ja|jv|ka|kg|ki|kj|kk|kl|km|kn|ko|kr|ks|ku|kv|kw|ky|la|lb|lg|li|ln|lo|lt|lu|lv|mg|mh|mi|mk|ml|mn|mo|mr|ms|ms|mt|my|na|nb|nd|ne|ng|nl|nn|no|nr|nv|ny|oc|oj|om|or|os|pa|pa|pi|pl|ps|pt|qu|rm|rn|ro|ru|rw|sa|sc|sd|se|sg|sh|si|sk|sl|sm|sn|so|sq|sr|ss|st|su|sv|sw|ta|te|tg|th|ti|tk|tl|tn|to|tr|ts|tt|tw|ty|ug|uk|ur|uz|ve|vi|vo|wa|wo|xh|yi|yo|za|zh|zu" label="30020" default="-" />
    <setting id="include_explicit" type="bool" label="30030" default="false" />
    <setting id="pagelen" type="enum" values="10|15|20|25|30|40|50|75|100" label="30040" default="3" />
    <setting type="sep" />
    <setting id="saved_searches" type="enum" values="10|20|30|40" label="30060" default="0" />
    <!--setting type="sep" />
    <setting id="player_core" type="enum" values="MPlayer|DVDPlayer" label="30050" default="1" /-->
</settings>

