<window id="4">
	<defaultcontrol always="true">8000</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		<include>Common_Background</include>
		<control type="group">
			<include>Window_OpenClose_Animation</include>
			<control type="group" id="8000">
				<posx>30</posx>
				<posy>102</posy>
				<control type="image">
					<posx>54</posx>
					<posy>0</posy>
					<width>190</width>
					<height>200</height>
					<aspectratio align="right">keep</aspectratio>
					<texture>icon_video.png</texture>
					<animation effect="zoom" start="100" end="115" center="auto" time="100" condition="Control.HasFocus(2)">conditional</animation>
				</control>
				<control type="button" id="2">
					<description>Video push button</description>
					<posx>0</posx>
					<posy>220</posy>
					<height>40</height>
					<width>305</width>
					<label>3</label>
					<align>center</align>
					<aligny>center</aligny>
					<font>font16b</font>
					<onclick>ActivateWindow(MyVideosSettings)</onclick>
					<texturefocus>folder-focus2.png</texturefocus>
					<texturenofocus>-</texturenofocus>
					<onleft>9000</onleft>
					<onright>3</onright>
					<onup>6</onup>
					<ondown>6</ondown>
				</control>
				<control type="image">
					<posx>359</posx>
					<posy>0</posy>
					<width>190</width>
					<height>200</height>
					<aspectratio align="right">keep</aspectratio>
					<texture>icon_music.png</texture>
					<animation effect="zoom" start="100" end="115" center="auto" time="100" condition="Control.HasFocus(3)">conditional</animation>
				</control>
				<control type="button" id="3">
					<description>Music push button</description>
					<posx>305</posx>
					<posy>220</posy>
					<height>40</height>
					<width>305</width>
					<label>2</label>
					<align>center</align>
					<aligny>center</aligny>
					<font>font16b</font>
					<onclick>ActivateWindow(MyMusicSettings)</onclick>
					<texturefocus>folder-focus2.png</texturefocus>
					<texturenofocus>-</texturenofocus>
					<onleft>2</onleft>
					<onright>4</onright>
					<onup>7</onup>
					<ondown>7</ondown>
				</control>
				<control type="image">
					<posx>664</posx>
					<posy>0</posy>
					<width>190</width>
					<height>200</height>
					<aspectratio align="right">keep</aspectratio>
					<texture>icon_pics.png</texture>
					<animation effect="zoom" start="100" end="115" center="auto" time="100" condition="Control.HasFocus(4)">conditional</animation>
				</control>
				<control type="button" id="4">
					<description>Pics push button</description>
					<posx>610</posx>
					<posy>220</posy>
					<height>40</height>
					<width>305</width>
					<label>1</label>
					<align>center</align>
					<aligny>center</aligny>
					<font>font16b</font>
					<onclick>ActivateWindow(MyPicturesSettings)</onclick>
					<texturefocus>folder-focus2.png</texturefocus>
					<texturenofocus>-</texturenofocus>
					<onleft>3</onleft>
					<onright>5</onright>
					<onup>8</onup>
					<ondown>8</ondown>
				</control>
				<control type="image">
					<posx>969</posx>
					<posy>0</posy>
					<width>190</width>
					<height>200</height>
					<aspectratio align="right">keep</aspectratio>
					<texture>unknown-user.png</texture>
					<animation effect="zoom" start="100" end="115" center="auto" time="100" condition="Control.HasFocus(5)">conditional</animation>
					<visible>System.Platform.Linux</visible>
				</control>
				<control type="button" id="5">
					<description>Profile push button</description>
					<posx>915</posx>
					<posy>220</posy>
					<height>40</height>
					<width>305</width>
					<label>13200</label>
					<align>center</align>
					<aligny>center</aligny>
					<font>font16b</font>
					<onclick>ActivateWindow(Profiles)</onclick>
					<texturefocus>folder-focus2.png</texturefocus>
					<texturenofocus>-</texturenofocus>
					<onleft>4</onleft>
					<onright>9000</onright>
					<onup>9</onup>
					<ondown>9</ondown>
					<visible>System.Platform.Linux</visible>
				</control>
				<control type="image">
					<posx>969</posx>
					<posy>0</posy>
					<width>190</width>
					<height>200</height>
					<aspectratio align="right">keep</aspectratio>
					<texture>icon_apps.png</texture>
					<animation effect="zoom" start="100" end="115" center="auto" time="100" condition="Control.HasFocus(5)">conditional</animation>
					<visible>!System.Platform.Linux</visible>
				</control>
				<control type="button" id="5">
					<description>Apps push button</description>
					<posx>915</posx>
					<posy>220</posy>
					<height>40</height>
					<width>305</width>
					<label>0</label>
					<align>center</align>
					<aligny>center</aligny>
					<font>font16b</font>
					<onclick>ActivateWindow(MyProgramsSettings)</onclick>
					<texturefocus>folder-focus2.png</texturefocus>
					<texturenofocus>-</texturenofocus>
					<onleft>4</onleft>
					<onright>9000</onright>
					<onup>9</onup>
					<ondown>9</ondown>
					<visible>!System.Platform.Linux</visible>
				</control>
				<control type="image">
					<posx>54</posx>
					<posy>290</posy>
					<width>190</width>
					<height>200</height>
					<aspectratio align="right">keep</aspectratio>
					<texture>icon_weather.png</texture>
					<animation effect="zoom" start="100" end="115" center="auto" time="100" condition="Control.HasFocus(6)">conditional</animation>
				</control>
				<control type="button" id="6">
					<description>Weather push button</description>
					<posx>0</posx>
					<posy>510</posy>
					<height>40</height>
					<width>305</width>
					<label>8</label>
					<align>center</align>
					<aligny>center</aligny>
					<font>font16b</font>
					<onclick>ActivateWindow(MyWeatherSettings)</onclick>
					<texturefocus>folder-focus2.png</texturefocus>
					<texturenofocus>-</texturenofocus>
					<onleft>9000</onleft>
					<onright>7</onright>
					<onup>2</onup>
					<ondown>2</ondown>
				</control>
				<control type="image">
					<posx>359</posx>
					<posy>290</posy>
					<width>190</width>
					<height>200</height>
					<aspectratio align="right">keep</aspectratio>
					<texture>icon_network.png</texture>
					<animation effect="zoom" start="100" end="115" center="auto" time="100" condition="Control.HasFocus(7)">conditional</animation>
				</control>
				<control type="button" id="7">
					<description>Network push button</description>
					<posx>305</posx>
					<posy>510</posy>
					<height>40</height>
					<width>305</width>
					<label>705</label>
					<align>center</align>
					<aligny>center</aligny>
					<font>font16b</font>
					<onclick>ActivateWindow(NetworkSettings)</onclick>
					<texturefocus>folder-focus2.png</texturefocus>
					<texturenofocus>-</texturenofocus>
					<onleft>6</onleft>
					<onright>8</onright>
					<onup>3</onup>
					<ondown>3</ondown>
				</control>
				<control type="image">
					<posx>664</posx>
					<posy>290</posy>
					<width>190</width>
					<height>200</height>
					<aspectratio align="right">keep</aspectratio>
					<texture>icon_system.png</texture>
					<animation effect="zoom" start="100" end="115" center="auto" time="100" condition="Control.HasFocus(8)">conditional</animation>
				</control>
				<control type="button" id="8">
					<description>System push button</description>
					<posx>610</posx>
					<posy>510</posy>
					<height>40</height>
					<width>305</width>
					<label>13000</label>
					<align>center</align>
					<aligny>center</aligny>
					<font>font16b</font>
					<onclick>ActivateWindow(SystemSettings)</onclick>
					<texturefocus>folder-focus2.png</texturefocus>
					<texturenofocus>-</texturenofocus>
					<onleft>7</onleft>
					<onright>9</onright>
					<onup>4</onup>
					<ondown>4</ondown>
				</control>
				<control type="image">
					<posx>969</posx>
					<posy>290</posy>
					<width>190</width>
					<height>200</height>
					<aspectratio align="right">keep</aspectratio>
					<texture>icon_appearence.png</texture>
					<animation effect="zoom" start="100" end="115" center="auto" time="100" condition="Control.HasFocus(9)">conditional</animation>
				</control>
				<control type="button" id="9">
					<description>Profile push button</description>
					<posx>915</posx>
					<posy>510</posy>
					<height>40</height>
					<width>305</width>
					<label>480</label>
					<align>center</align>
					<aligny>center</aligny>
					<font>font16b</font>
					<onclick>ActivateWindow(AppearanceSettings)</onclick>
					<texturefocus>folder-focus2.png</texturefocus>
					<texturenofocus>-</texturenofocus>
					<onleft>8</onleft>
					<onright>9000</onright>
					<onup>5</onup>
					<ondown>5</ondown>
				</control>
			</control>
			<control type="group" id="9001">
				<posx>-345</posx>
				<posy>0</posy>
				<animation effect="slide" time="150" end="345,0" condition="ControlGroup(9001).HasFocus">Conditional</animation>
				<control type="button">
					<posx>0</posx>
					<posy>0</posy>
					<width>400</width>
					<height>720</height>
					<onclick>-</onclick>
					<hitrect x="0" y="0" w="360" h="720" />
					<texturefocus>Side_Slideout.png</texturefocus>
					<texturenofocus>Side_Slideout.png</texturenofocus>
				</control>
				<control type="group" id="9000">
					<posx>5</posx>
					<posy>140</posy>
					<control type="button" id="20">
						<description>Skin Settings button</description>
						<posx>0</posx>
						<posy>0</posy>
						<include>ButtonCommonValues</include>
						<label>20077</label>
						<onclick>Setfocus(8000)</onclick>
						<onclick>ActivateWindow(1111)</onclick>
						<onleft>8000</onleft>
						<onright>8000</onright>
						<onup>22</onup>
						<ondown>21</ondown>
						<pulseonselect>no</pulseonselect>
					</control>
					<control type="button" id="21">
						<description>Xbox Profiles button</description>
						<posx>0</posx>
						<posy>45</posy>
						<include>ButtonCommonValues</include>
						<label>13200</label>
						<onclick>ActivateWindow(Profiles)</onclick>
						<onleft>8000</onleft>
						<onright>8000</onright>
						<onup>20</onup>
						<ondown>22</ondown>
						<visible>!System.Platform.Linux</visible>
					</control>
					<control type="button" id="22">
						<description>Reload Skin button</description>
						<posx>0</posx>
						<posy>90</posy>
						<include>ButtonCommonValues</include>
						<label>20183</label>
						<onclick>XBMC.ReloadSkin()</onclick>
						<onleft>8000</onleft>
						<onright>8000</onright>
						<onup>21</onup>
						<ondown>20</ondown>
						<animation effect="slide" time="0" end="0,-45" condition="!Control.IsVisible(21)">Conditional</animation>
					</control>
				</control>
			</control>
			<control type="image">
				<posx>0</posx>
				<posy>0</posy>
				<width>1280</width>
				<height>90</height>
				<texture>Topbar.png</texture>
			</control>
			<control type="label">
				<description>Title label</description>
				<posx>40</posx>
				<posy>20</posy>
				<width>600</width>
				<height>42</height>
				<align>left</align>
				<aligny>center</aligny>
				<textcolor>white</textcolor>
				<shadowcolor>black</shadowcolor>
				<label>5</label>
				<font>font16b</font>
			</control>
			<include>Common_Now_Playing</include>
		</control>
	</controls>
</window>