<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- General -->
    <category label="30051">
        <setting label="30100" type="lsep" />
        <setting label="30110" type="folder" id="doc_path" default="" source="auto" option="writeable" />
    </category>

    <!-- Maintenance -->
    <category label="30056">
        <setting type="sep"/>
        <setting label="[B]$ADDON[script.pydocs 30750][/B]" type="text" default="nuka1195" enable="false"/>
        <setting label="[B]$ADDON[script.pydocs 30752][/B]" type="text" id="repo" default="http://xbmc-addons.googlecode.com/" enable="false"/>
        <setting label="[B]$ADDON[script.pydocs 30753][/B]" type="text" default="$ADDON[script.pydocs 30002]" enable="false"/>
        <setting type="sep"/>
        <setting label="30600" type="lsep" visible="system.platform.xbox"/>
        <setting label="30610" type="action" action="RunScript($CWD/resources/lib/updates.py)" visible="system.platform.xbox"/>
    </category>

</settings>
