<settings>
   <setting id="search_pb" type="bool" label="Search PirateBay" default="true"/>
   <setting id="search_mn" type="bool" label="Search MiniNova" default="false"/>
   <setting id="search_tr" type="bool" label="Search TorrentReactor" default="false"/>
   <setting type="sep" />
   <setting id="min_seed" type="enum" values="0|1|5|10|15|20" label="Hide torrents whose seeders fall below:" default="1"/>
   <setting type="sep" />
   <setting id="download" type="bool" label="Use internal bittorrent client" default="true"/>
   <setting id="download_path" type="folder" enable="eq(-1,false)" source="video" label="Download torrents to:"  option="writeable" default="F:\videos"/>
</settings>
