<settings>
   <setting id="Search Options:" type="text" label="20000" default=""/>
   <setting id="Open Veoh Search" type="bool" label="30000" default="false"/>
   <setting id="Specific Veoh Search" type="bool" label="30001" default="false"/>
   <setting id="Options:" type="text" label="24000" default=""/>
   <setting id="Search Duration : All" type="bool" label="26000" default=""/>
   <setting id="Search Duration : 10 / 20 mins" type="bool" label="27000" default=""/>
   <setting id="Search Duration : 20 / 40 mins" type="bool" label="28000" default=""/>
   <setting id="Search Duration : 40 / 60 mins" type="bool" label="29000" default=""/>
   <setting id="Search Duration : 1hr / 3hrs" type="bool" label="31000" default=""/>
   <setting id="Search Duration : 3hrs+" type="bool" label="32000" default=""/>
   <setting id="Set User name: " type="text" label="30013" default=""/>
   <setting id="Add Favourites & Subscriptions" type="bool" label="33000" default="false"/>
   <setting id="Clear Previous Searches" type="bool" label="30004" default="false"/>
   <setting id="Download file" type="bool" label="25000" default="false"/>
   


   
</settings>