<settings>
   <!-- GUI  -->
   <setting id="path" 	type="folder"	option="writeable"	label="30420" default="/Volumes/RAID/Movies/EyeTV/EyeTV Archive"/>
   <setting type="sep" />
   <setting id="dummy" 	type="folder"	option="writeable"	label="30422" default="/Volumes/RAID/Movies/TV"/>
   <setting type="sep" />
   <setting id="EyetvTOG" 	type="bool" 	label="30421" default="true"/>
   <setting type="sep" />
</settings>
