<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting type="lsep" label="General Settings" />
    	<setting id="AutoStart" type="bool" label="Automatically Start xbTwitter with XBMC" default="false"/>
	<setting id="Username" type="text" label="Twitter Username" default=""/>
	<setting id="OAuth" type="bool" label="Use OAuth" default="true"/>
	<setting id="Password" type="text" option = "hidden" visible= "eq(-2,false)" enable="eq(-2,false)" label="Twitter Password" default=""/>

    	<setting type="lsep" label="Automatic Tweeting" />
    	<setting id="AutoTweetVideo" type="bool" label="Automatically Tweet Videos I'm Watching" default="true"/>
	<setting id="VideoThreshold" type="enum"  visible= "eq(-1,true)" enable="eq(-1,true)" label="Tweet only after I seen this percentage of the video" values="1|5|15|50|75|95" default="3"/>
    	<setting id="AutoTweetMusic" type="bool" label="Automatically Tweet Music I'm Listening To" default="true"/>
	<setting id="MusicThreshold" type="enum"  visible= "eq(-1,true)" enable="eq(-1,true)" label="Tweet only after I listened to this percentage of the song" values="1|5|15|50|75|95" default="3"/>

	<setting id="CustomTweet" type="bool" label="Customize Automatic Tweets" default="false"/>
	<setting id="TVShowTweet" type="text"  visible= "eq(-1,true)" enable="eq(-1,true)" label="TV Shows Tweet																	" default="Watching %SHOWNAME%, Episode: %EPISODENAME% on #xbmc #xbtweet #nowplaying"/>
	<setting id="MovieTweet" type="text"  visible= "eq(-2,true)" enable="eq(-2,true)" label="Movies Tweet" default="Watching %MOVIETITLE% (%MOVIEYEAR%) on #xbmc #xbtweet #nowplaying"/>
	<setting id="MusicTweet" type="text"  visible= "eq(-3,true)" enable="eq(-3,true)" label="Music Tweet																				" default="Listening to %ARTISTNAME% (%ALBUMTITLE%) on #xbmc #xbtweet #nowplaying"/>

    	<setting type="lsep" label="Misc Settings" />
    	<setting id="debug" type="bool" label="Enable Debug Log" default="false"/>
    	<setting id="new_ver" type="bool" label="Auto Check for Newer Version" default="false"/>
    	<setting id="followauthor" type="bool" label="Follow The Author of This Script" default="true"/>
</settings>
